node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
./firebase.js
/firebase.js
functions/admin
functions/chewzee-service.json
functions/chewzee-service
/chewzee-service.json
/chewzee-service
chewzee-service
chewzee-service.json

# macOS
.DS_Store
